# large files
application/dataset/
training/chap03/corpus/
training/chap04/data/
training/chap08/data/
training/chap08/models/
training/chap09/data/
training/chap09/models/
training/chap10/models/
training/chap10/data/
